<% if category.show? current_user and category.entries(current_user).length > 0 %>
    <li class="sidebarcategory">
				<div class="menulabel">
						<span><%= category.name %></span>
				</div>
        <% cache_unless(category.name == "Message Boards", category, skip_digest: true) do %>
						<ul class="sidebarsection" id="sidebarsection<%= category.id %>">
								<%= render :partial => "sidebars/entry", collection: category.entries(current_user) %>
						</ul>
	    	<% end %>
    </li>
<% end %>

