*.rbc
capybara-*.html
.rspec
/log/*.log
/db/*.sqlite3*
/public/assets
/public/system
/coverage
/tmp
/spec/tmp
**.orig
rerun.txt
pickle-email-*.txt
*.rails2
db/structure.sql
db/test.sqlite3
.bundle
/vendor/bundle
.rvmrc
