language: ruby
rvm:
  - 2.2.6
bundler_args: --without production
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
script:
  - bundle exec rake db:schema:load
  - bundle exec rake db:test:prepare
  - bundle exec cucumber
