<%
rerun_tests = File.file?('rerun.txt') ? IO.read('rerun.txt') : ""
rerun_opts = if rerun_tests.to_s.strip.empty?
"--tags @none_so_will_pass --strict"
else
"--format pretty --strict #{rerun_tests}"
end
first_try = "--format pretty --format rerun --out rerun.txt"
%>
first_try: <%= first_try %> features
second_try: <%= rerun_opts %>
