# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f19ac103720d717dfae31e52816a8f6c5f87d20dc0fd0e3929a98c9e47833f382f05642722c6b87f7e3938a8969757c9886f496522b89cdc9d854935d7c845e9

test:
  secret_key_base: dec6aadf5510ff4c54a44630765fbb77598444f9bcd5de6296e6cf833a7330c3d07d43ab4bbf6f1f48ed22c46787e19b3eaf3c95b6dcddce130c629337dfe49c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
