<h1 class="alt">Manage Message Boards</h1>

<p>Boards in <span>italics</span> are In Character (IC) boards.</p>

<%= render :partial => "admin_boards_list" %>

<p align="right">[ <%= link_to "Add board", new_board_path, :method => :get, :remote => true %> ]</p>
