<h1 class="alt">
  <%= @acceptable.flavour %>
</h1>

<%= RedCloth.new( @acceptable.text, [:filter_html] ).to_html.html_safe %>

<% if current_user.is_admin? %>
  [ <%= link_to 'Edit', edit_acceptable_path(@acceptable) %> ]
<% end %>
