name: continuous-integration
on: [push, pull_request]
jobs:
    run-tests:
        runs-on: ubuntu-latest
        steps:
            - name: Install PhantomJS
              run: |
                export OPENSSL_CONF=/dev/null
                sudo apt-get update
                sudo apt-get install build-essential chrpath libssl-dev libxft-dev -y
                sudo apt-get install libfreetype6 libfreetype6-dev -y
                sudo apt-get install libfontconfig1 libfontconfig1-dev -y
                cd ~
                export PHANTOM_JS="phantomjs-2.1.1-linux-x86_64"
                wget https://github.com/Medium/phantomjs/releases/download/v2.1.1/$PHANTOM_JS.tar.bz2
                sudo tar xvjf $PHANTOM_JS.tar.bz2
                sudo mv $PHANTOM_JS /usr/local/share
                sudo ln -sf /usr/local/share/$PHANTOM_JS/bin/phantomjs /usr/local/bin
                phantomjs --version
            - name: Check out code
              uses: actions/checkout@v2
            - name: Set up Ruby
              uses: ruby/setup-ruby@v1
              with:
                bundler-cache: true
            - name: Set up test database
              run: |
                bundle exec rake db:schema:load
                bundle exec rake db:test:prepare
            - name: Run Unit Tests
              run: bundle exec rails test
            - name: Run System Tests
              run: bundle exec cucumber || bundle exec cucumber -p rerun
